<!DOCTYPE html>
<html lang="en">
<head>
  <title>JW-Shoes</title>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">
  <link rel="stylesheet" href="./view.css" />
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.3/font/bootstrap-icons.css">
</head>
<body>
  <header>
    <img class="logo" src="../img/logo.com.png" width="100" height="100" alt="logo RPK - Shoes" />
    <button class="abrir-menu" id="abrir"><i class="bi bi-list"></i></button>
    <nav class="nav" id="nav">
      <button class="cerrar-menu" id="cerrar"><i class="bi bi-x-lg"></i></button>
      <ul class="nav-list">
        <li><a href="../index.html">INICIO</a></li>
        <li><a href="./nike.html">NIKE</a></li>
        <li><a href="./adidas.html">ADIDAS</a></li>
        <li><a href="#contacto"  type="button" data-bs-toggle="modal"data-bs-target="#exampleModal" >CONTACTO</a></li>
      </ul>
    </nav>
    <div>
      <div id="car">
        <a href=""><img src="../assets/cart4.svg" width="25" alt=""></a>
      </div>
  </header>
  <!-- modal-->
  <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="exampleModalLabel">Contacto</h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <div class="mb-3">
            <p>Te estas por contactar directamente con nosotros dejanos tu mail y comentario, nos comunicaremos a la brevedad.</p>
            <label for="exampleFormControlInput1" class="form-label">Email</label>
            <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="name@example.com">
          </div>
          <div class="mb-3">
            <label for="exampleFormControlTextarea1" class="form-label">Dejanos Tu comentario</label>
            <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
          <button type="button" class="btn btn-primary">Enviar Comentario</button>
        </div>
      </div>
    </div>
  </div>
<!-- section main-->
  <main>
    <div class="row">
      <div class="col-12 col-md-6">
        <div class="card" style="width: 25rem;">
          <div id="carouselExample" class="carousel slide">
            <div class="carousel-inner">
              <div class="carousel-item active">
                <img src="../img/adidas/badBunnyGray/1.jpg" class="d-block w-100" alt="...">
              </div>
              <div class="carousel-item">
                <img src="../img/adidas/badBunnyGray/2.jpg" class="d-block w-100" alt="...">
              </div>
              <div class="carousel-item">
                <img src="../img/adidas/badBunnyGray/3.jpg" class="d-block w-100" alt="...">
              </div>
              <div class="carousel-item">
                <img src="../img/adidas/badBunnyGray/4.jpg" class="d-block w-100" alt="...">
              </div>
              <div class="carousel-item">
                <img src="../img/adidas/badBunnyGray/5.jpg" class="d-block w-100" alt="...">
              </div>
              <div class="carousel-item">
                <img src="../img/adidas/badBunnyGray/6.jpg" class="d-block w-100" alt="...">
              </div>
              <div class="carousel-item">
                <img src="../img/adidas/badBunnyGray/7.jpg" class="d-block w-100" alt="...">
              </div>
            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#carouselExample" data-bs-slide="prev">
              <span class="carousel-control-prev-icon" aria-hidden="true"></span>
              <span class="visually-hidden">Anterior</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#carouselExample" data-bs-slide="next">
              <span class="carousel-control-next-icon" aria-hidden="true"></span>
              <span class="visually-hidden">Siguiente</span>
            </button>
          </div>
          <div class="card-body">
            <h5 class="card-title">Adidas BadBunny Gray</h5>
            <select class="form-select mt-3 mb-3" aria-label="Default select example">
              <option selected>Seleccione un talle</option>
              <option value="1">38</option>
              <option value="2">39</option>
              <option value="3">40</option>
              <option value="1">41</option>
              <option value="2">42</option>
              <option value="3">43</option>
            </select>
            <a href="#" class="btn btn-outline-success">Comprar</a>
          </div>
        </div>
      </div>
      <!-- aqui otra card-->
      <div class="col-12 col-md-6">
        <div class="card" style="width: 25rem;">
          <div id="carouselExample1" class="carousel slide">
            <div class="carousel-inner">
              <div class="carousel-item active">
                <img src="../img/adidas/badBunnyPink/1.jpg" class="d-block w-100" alt="...">
              </div>
              <div class="carousel-item">
                <img src="../img/adidas/badBunnyPink/2.jpg" class="d-block w-100" alt="...">
              </div>
              <div class="carousel-item">
                <img src="../img/adidas/badBunnyPink/3.jpg" class="d-block w-100" alt="...">
              </div>
              <div class="carousel-item">
                <img src="../img/adidas/badBunnyPink/4.jpg" class="d-block w-100" alt="...">
              </div>
              <div class="carousel-item">
                <img src="../img/adidas/badBunnyPink/5.jpg" class="d-block w-100" alt="...">
              </div>
              <div class="carousel-item">
                <img src="../img/adidas/badBunnyPink/6.jpg" class="d-block w-100" alt="...">
              </div>
              <div class="carousel-item">
                <img src="../img/adidas/badBunnyPink/7.jpg" class="d-block w-100" alt="...">
              </div>
            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#carouselExample1" data-bs-slide="prev">
              <span class="carousel-control-prev-icon" aria-hidden="true"></span>
              <span class="visually-hidden">Anterior</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#carouselExample1" data-bs-slide="next">
              <span class="carousel-control-next-icon" aria-hidden="true"></span>
              <span class="visually-hidden">Siguiente</span>
            </button>
          </div>
          <div class="card-body">
            <h5 class="card-title">Adidas BadBunny Pink</h5>
            <select class="form-select mt-3 mb-3" aria-label="Default select example">
              <option selected>Seleccione un talle</option>
              <option value="1">38</option>
              <option value="2">39</option>
              <option value="3">40</option>
              <option value="1">41</option>
              <option value="2">42</option>
              <option value="3">43</option>
            </select>
            <a href="#" class="btn btn-outline-success">Comprar</a>
          </div>
        </div>
      </div>
    </div>
  </main>
  <!-- section footer-->
  <footer>
     <div id="footer" class="row">
         <div class="col-12 col-md-12">
             <h4>Contacto</h4>
             <h6>javierchavarria21@gmail.com</h6> 
             <h5>Cel: 2901 - 416491</h5>
         </div>
         <div class="col-4">
         </div>
     </div>
 </footer>
  <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"
    integrity="sha384-oBqDVmMz9ATKxIep9tiCxS/Z9fNfEXiDAYTujMAeBAsjFuCZSmKbSSUnQlmh/jp3" crossorigin="anonymous">
  </script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.min.js"
    integrity="sha384-7VPbUDkoPSGFnVtYi0QogXtr74QeVeeIs99Qfg5YCF+TidwNdjvaKZX19NZ/e6oz" crossorigin="anonymous">
  </script>
  <script src="../function.js"></script>
</body>
</html>